<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many bucket_lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bucket Lists
      </li>

      <% @user.bucket_lists.each do |bucket_list| %>
        <li class="list-group-item">
          <a href="/bucket_lists/<%= bucket_list.id %>">
            <%= bucket_list.bucketlist %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bucket_lists/<%= bucket_list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == bucket_list.users %>
              <a href="/bucket_lists/<%= bucket_list.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_bucket_list/<%= bucket_list.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many visitedvenues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Visitedvenues
      </li>

      <% @user.visitedvenues.each do |visitedvenue| %>
        <li class="list-group-item">
          <a href="/visitedvenues/<%= visitedvenue.id %>">
            <%= visitedvenue.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/visitedvenues/<%= visitedvenue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == visitedvenue.user %>
              <a href="/visitedvenues/<%= visitedvenue.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_visitedvenue/<%= visitedvenue.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
