<div class="page-header">
  <h1>
    Bucket lists
    <a href="/bucket_lists/new" class="btn btn-lg btn-success">New Bucket list</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Bucketlist</th>
        <th>Users</th>
        <th>Dishes</th>
        <th>Selectedvenue</th>
        <th>Actions</th>
      </tr>

      <% @bucket_lists.each do |bucket_list| %>
      <tr>
        <td><%= bucket_list.bucketlist %></td>
        <td>
          <% if bucket_list.users.present? %>
            <a href="/users/<%= bucket_list.users.id %>">
              <%= bucket_list.users.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if bucket_list.dishes.present? %>
            <a href="/dishes/<%= bucket_list.dishes.id %>">
              <%= bucket_list.dishes.dishname %>
            </a>
          <% end %>
        </td>
        <td>
          <% if bucket_list.selectedvenue.present? %>
            <a href="/venues/<%= bucket_list.selectedvenue.id %>">
              <%= bucket_list.selectedvenue.restaurant %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/bucket_lists/<%= bucket_list.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == bucket_list.users %>
            <a href="/bucket_lists/<%= bucket_list.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_bucket_list/<%= bucket_list.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @bucket_lists, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
