<div class="page-header">
  <h3>Bucket List #<%= @bucket_list.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bucketlist</dt>
      <dd><%= @bucket_list.bucketlist %></dd>

      <dt>Users</dt>
      <dd>
        <% if @bucket_list.users.present? %>
          <a href="/users/<%= @bucket_list.users_id %>">
            <%= @bucket_list.users.email %>
          </a>
        <% end %>
      </dd>

      <dt>Dishes</dt>
      <dd>
        <% if @bucket_list.dishes.present? %>
          <a href="/dishes/<%= @bucket_list.dishes_id %>">
            <%= @bucket_list.dishes.dishname %>
          </a>
        <% end %>
      </dd>

      <dt>Selectedvenue</dt>
      <dd>
        <% if @bucket_list.selectedvenue.present? %>
          <a href="/venues/<%= @bucket_list.selectedvenue_id %>">
            <%= @bucket_list.selectedvenue.restaurant %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bucket_lists" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bucket_list.users %>
        <a href="/bucket_lists/<%= @bucket_list.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bucket_list/<%= @bucket_list.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
