<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dishname</dt>
      <dd><%= @dish.dishname %></dd>

      <dt>Cuisine</dt>
      <dd><%= @dish.cuisine %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish has many bucket_lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bucket Lists
      </li>

      <% @dish.bucket_lists.each do |bucket_list| %>
        <li class="list-group-item">
          <a href="/bucket_lists/<%= bucket_list.id %>">
            <%= bucket_list.bucketlist %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bucket_lists/<%= bucket_list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bucket_lists/<%= bucket_list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bucket_list/<%= bucket_list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bucket_list" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bucketlist -->
      <div class="form-group">
        <label for="bucketlist" class="control-label">
          Bucketlist
        </label>

        <input type="text" id="bucketlist" name="bucketlist" placeholder="Bucketlist" class="form-control" value="">
      </div>

      <!-- Label and input for users_id -->
      <input type="hidden" name="users_id" value="<%= current_user.id %>">

      <!-- Label and input for dishes_id -->
      <div class="form-group">
        <label for="dishes_id" class="control-label">
          Dishes
        </label>

        <%= select_tag(:dishes_id, options_from_collection_for_select(Dish.all, :id, :dishname), :class => "form-control") %>
      </div>

      <!-- Label and input for selectedvenue_id -->
      <div class="form-group">
        <label for="selectedvenue_id" class="control-label">
          Selectedvenue
        </label>

        <%= select_tag(:selectedvenue_id, options_from_collection_for_select(Venue.all, :id, :restaurant), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Bucket List
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Dish has many dish_venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dish Venues
      </li>

      <% @dish.dish_venues.each do |dish_venue| %>
        <li class="list-group-item">
          <a href="/dish_venues/<%= dish_venue.id %>">
            <%= dish_venue.dish_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/dish_venues/<%= dish_venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/dish_venues/<%= dish_venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_dish_venue/<%= dish_venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_dish_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_id -->
      <input type="hidden" name="dish_id" value="<%= @dish.id %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :restaurant), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Dish Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
