<div class="page-header">
  <h1>
    Dish venues
    <a href="/dish_venues/new" class="btn btn-lg btn-success">New Dish venue</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Dish</th>
        <th>Venue</th>
        <th>Actions</th>
      </tr>

      <% @dish_venues.each do |dish_venue| %>
      <tr>
        <td><%= dish_venue.dish.dishname %></td>
        <td><%= dish_venue.venue.restaurant %></td>
        <td>
          <a href="/dish_venues/<%= dish_venue.id %>" class="btn btn-primary">Show</a>
          <a href="/dish_venues/<%= dish_venue.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_dish_venue/<%= dish_venue.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
