<div class="page-header">
  <h3>Dish Venue #<%= @dish_venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd>
        <% if @dish_venue.dish.present? %>
          <a href="/dishes/<%= @dish_venue.dish_id %>">
            <%= @dish_venue.dish.dishname %>
          </a>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @dish_venue.venue.present? %>
          <a href="/venues/<%= @dish_venue.venue_id %>">
            <%= @dish_venue.venue.restaurant %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dish_venues" class="btn btn-primary">
        Back
      </a>
      <a href="/dish_venues/<%= @dish_venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish_venue/<%= @dish_venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
